{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ project_detail.name }}</h1>
            <p>{{ project_detail.description | markdownify }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if not project_detail.tasks.all %}
                <p>This project has no tasks</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in project_detail.tasks.all%}
                            <tr>
                                <td>{{ project.name }}</td>
                                <td>{{ project.assignee }}</td>
                                <td>{{ project.start_date }}</td>
                                <td>{{ project.due_date }}</td>
                                <td>{% if project.is_completed %}
                                    yes
                                {% else %}
                                    no
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}